/bank
/biblioteka
/biblioteka_v2
/covid
/edytor_tekstu.py
/email_sender.py
/generator_hasel.py
/kalkulator.py
/oceny.csv
/OOP_bank.py
/OOP_kalkulator.py
/OOP_system_ocen.py
/pokedex
/quiz.py
/rysowanie_wykresu_funkcji.py
/sklep.py
/snake.py
/zapisywanie_tekstu.py